body {
    min-width: 320px;
}
 
html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100hv;
    margin: 0;
}
 
.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
     
}   
 
main {
    flex: 1 1 auto;
    padding: 20px;
}
